@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Poppins&family=Roboto&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: "Roboto", sans-serif;
  width: 100%;
  min-height: 100vh;
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 2rem;
}
@media (hover: none) and (pointer: coarse) {
  button:hover,
  button:active,
  button:focus,
  a:hover,
  a:active,
  a:focus,
  .menu-div li:hover,
  .menu-div li:active,
  .menu-div li:focus {
    background-color: inherit !important;
    color: inherit !important;
    outline: none !important;
    box-shadow: none !important;
    cursor: default !important;
  }
}

button,
a {
  -webkit-tap-highlight-color: transparent;
}
